*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  cursor: default;
}

body {
  padding: 30px;
  background-color: #13171f;
  text-align: center;
}

#title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #ffffff;
}

#images {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.image img {
  border-radius: 50%;
  border: 0.5rem solid rgba(0, 0, 0, 0);
  box-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  width: 170px;
}

#rock img:hover {
  border: 0.5rem solid deeppink;
}
#paper img:hover {
  border: 0.5rem solid rgb(0, 109, 252);
}
#scissors img:hover {
  border: 0.5rem solid rgb(251, 255, 0);
}

#score_board {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.score {
  width: 250px;
  background-color: rgb(255, 140, 0);
  box-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
  border-radius: 0.8rem;
}

.score p {
  font-size: 3rem;
  font-weight: 600;
}
#msg_container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: blueviolet;
  box-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  border-radius: 0.8rem;
  transition: 0.5s;
}

#msg {
  color: #ffffff;
  font-size: 2.3rem;
  font-weight: 600;
}

#reset{
  width: 600px;
  padding: 20px;
  background-color: blueviolet;
  box-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  border-radius: 0.8rem;
  transition: 0.5s;
  font-size: 2.3rem;
  font-weight: 600;
  color: #ffffff;
}

#reset:hover{
  background-color: deeppink;
}

/* Responsive design */
@media screen and (max-width: 576px) {
  body {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }

  #title {
    font-size: 2.1em;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #images {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0px;
  }

  .image img {
    width: 100%;
    border: 0.3rem solid rgba(0, 0, 0, 0);
  }

  #rock img:hover {
    border: 0.3rem solid deeppink;
  }
  #paper img:hover {
    border: 0.3rem solid rgb(0, 109, 252);
  }
  #scissors img:hover {
    border: 0.3rem solid rgb(251, 255, 0);
  }

  #score_board {
    margin-top: 30px;
    gap: 30px;
  }

  .score {
    width: 50%;
  }

  .score p {
    font-size: 2rem;
    font-weight: 600;
  }

  #msg_container {
    width: 100%;
  }

  #msg {
    font-size: 1.5rem;
  }

  #reset{
    width: 100%;
    font-size: 1.5rem;
  }
}
